.page {
  background-color: rgb(0, 255, 153);
  color: blue;
}
.githelp {
  color: red;
}
.demo__header {
  color: brown;
}
.demo__main {
  background-color: blueviolet;
}
.demo__section {
  background-color: brown;
}
